body{
background-color:#232323;
background-repeat:no-repeat;
background-size:100% 100%;
color:white;
#text-shadow: -1px 0 #0F0F0F, 0 1px #0F0F0F, 1px 0 #0F0F0F, 0 -1px #0F0F0F;
margin-top:50px;
margin-bottom:50px;
font-family:Calibri, Verdana, monospace;
font-size:16;
z-index:-1;
}

#details{
font-style:italic;
font-size:20px;
}

div{
margin-top: 2px;
margin-bottom: 2px;
margin-left: 1px;
margin-right: 1px;
z-index:0;
}

img{
border-style:solid;
border-width:3px;
border-color:white;
margin: 1px 1px;
z-index:0;
}

a{
font-family:'Courier New', Courier, monospace;
z-index:0;
}

a.link { color:#0099AA; }

b {
z-index:0;
}

b.head{
font:Verdana, Arial, 'Sans-serif';
font-size:18px;
color:white;
}

b.leaf{
font:'Times New Roman', 'Courier New', Serif;
}

table {
table-layout:fixed;
border-collapse:collapse;
}

table, td, th {
border:10px hidden white;
z-index:0;
}

td {
text-align:center;
vertical-align:middle;
width:200px;
padding:1px;
}

ul{
list-style-type:circle;
z-index:0;
}
li{
margin-top:4px;
padding-left:4px;
z-index:0;
}
